name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Build
        run: go build ./...
        timeout-minutes: 5

      - name: Lint
        run: go vet ./...
        timeout-minutes: 5

      - name: Test
        run: go test -race -count=1 ./...
        timeout-minutes: 10
